<main class="homepage">
    
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="example">
            {{{content.main.example}}}
        </div>
        <div class=" font-check">
            <h1 class="title">{{content.main.title}}</h1>
    
            <h2 class="heading">{{content.main.h2}}</h2>
    
            <h3 class="heading">{{content.main.h3}}</h3>
    
            <h4 class="heading">{{content.main.h4}}</h4>
    
            <h5 class="heading">{{content.main.h5}}</h5>
    
            <h6 class="heading">{{content.main.h6}}</h6>
    
            <p class="paragraph">
                {{{content.main.paragraph1}}}
            </p>
        
            <p class="paragraph">
                {{{content.main.paragraph2}}}
            </p>
        
            <p class="paragraph">
                {{{content.main.paragraph3}}}
            </p>
        
            <p class="paragraph">
                {{{content.main.paragraph4}}}
            </p>
        
            <pre class="paragraph">
                {{{content.main.paragraph5}}}
            </pre>
        
            <div>
                {{{content.main.paragraph6}}}
            </div>
        
            <div>
                {{{content.main.paragraph7}}}
            </div>
        
            <address>
                {{{content.main.paragraph8}}}
            </address>
        
            <table>
                {{{content.main.paragraph9}}}
            </table>
        </div>
      </div>
    </div>
  </div>
</main>
