<title>{{this.meta.title}}</title>
<meta name="description" content="{{this.meta.description}}" />
{{#if this.meta.keywords}}
  <meta name="keywords" content="{{this.meta.keywords}}" />
{{/if}}
<link rel="canonical" href="{{this.canonical}}{{#ifequal this.lang "en"}}{{else}}{{this.lang}}/{{/ifequal}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{this.meta.ogtitle}}" />
<meta property="og:site_name" content="{{this.logo}}" />
<meta property="og:url" content="{{this.canonical}}{{#ifequal this.lang "en"}}{{else}}{{this.lang}}/{{/ifequal}}" />
<meta property="og:description" content="{{this.meta.description}}" />
<meta property="og:image" content="{{this.canonical}}assets/img/{{this.meta.image}}" />
<meta property="og:image:width" content="1440" />
<meta property="og:image:height" content="768" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@undp" />
<link rel="alternate" hreflang="en" href="{{@root.root}}" />
<link rel="alternate" hreflang="ar" href="{{@root.root}}ar/" />
<link rel="alternate" hreflang="az" href="{{@root.root}}az/" />
<link rel="alternate" hreflang="ku" href="{{@root.root}}ku/" />
<link rel="alternate" hreflang="ka" href="{{@root.root}}ka/" />
<link rel="alternate" hreflang="km" href="{{@root.root}}km/" />
<link rel="alternate" hreflang="ne" href="{{@root.root}}ne/" />
<link rel="alternate" hreflang="zh" href="{{@root.root}}zh/" />
<link rel="alternate" hreflang="ja" href="{{@root.root}}ja/" />
<link rel="alternate" hreflang="ko" href="{{@root.root}}ko/" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+Khmer:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{{#each @root.ds}}
  <link rel="preload" href="{{../cdn}}css/{{this}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
{{/each}}
<link rel="preload" href="{{@root.root}}assets/css/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<style>
  .country-header .header .top-right>:last-child {
    margin-inline-end: 4rem;
  }
</style>

{{#if this.gtm}}<!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{this.gtm}}');</script>
  <!-- End Google Tag Manager -->
{{/if}}
